# =========================
# Python / FastAPI
# =========================

venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Python tools
.pytest_cache/
.mypy_cache/


# =========================
# Node / React / Vite
# =========================

node_modules/
dist/
.vite/

# Environment variables
.env.local
.env.*.local


# =========================
# IDE / Editor
# =========================

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db
desktop.ini